@{
    ViewData["Title"] = "Home";
}

<div id="MainFrame">
    <div class="row mt-3 mb-3">
        <div class="col-12">
            I am looking for...
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" v-on:click="searchMode = 'supplier'" v-bind:class="{'btn-primary': searchMode == 'supplier'}" class="btn btn-secondary border">Supplier (5890)</button>
                <button type="button" v-on:click="searchMode = 'buyer'" v-bind:class="{'btn-primary': searchMode == 'buyer'}" class="btn btn-secondary border">Buyer (15895)</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0 border">
            <input placeholder="Company name..." v-model="searchText" v-on:input="search()" type="text" class="form-control border-0 search-input" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 p-0">
            <ul class="list-group">
                <li class="list-group-item search-result-item" v-on:click="toggleResult(result.shipment.id);" v-for="(result, index) in searchResults">
                    <div v-html="'<span class=\'badge badge-success\'>' + result.shipment.date + '</span> '+ '<span class=\'badge badge-primary mr-1\'>' + result.company.name + '</span> ' + getMarkedHTML(result.shipment.description, 150)"></div>
                    <div class="border-top p-3" v-if="selectedItem == result.shipment.id">

                        <!-- Company Block -->

                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="http://tiny.cc/dlrzmz" />
                            </div>
                            <div class="col-9">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-long-arrow-alt-right"></i> Company Name: {{selectedItemDetails.company.name}}</li>
                                    <li><i class="fa fa-long-arrow-alt-right"></i> Address: {{selectedItemDetails.company.address}}</li>
                                    <li><i class="fa fa-long-arrow-alt-right"></i> Country: {{selectedItemDetails.company.country}}</li>
                                    <li><i class="fa fa-long-arrow-alt-right"></i> Shipment details: <span v-html="getMarkedHTML(result.shipment.description, -1)"></span></li>
                                    <li><button v-on:click.stop="sendRequest()" class="btn btn-primary mt-3"><i class="fa fa-user"></i> Send request</button></li>
                                </ul>
                            </div>
                        </div>

                        <!-- /AAA -->

                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

@section scripts {

    <script>
        var App = new Vue({
            el: '#MainFrame',
            data: {
                searchText: null,
                searchResults: [],
                selectedItem: null,
                searchMode: 'supplier',
                selectedItemDetails: null
            },
            methods: {
                search: function () {
                    let self = this;
                    self.selectedItem = null;
                    if (self.searchText.length == 0) {
                        self.searchResults = [];
                    } else {
                        $.ajax({
                            method: "get",
                            url: "home/search",
                            data: { searchtext: self.searchText, page: 1, mode: self.searchMode },
                            success: function (result) {
                                self.searchResults = result;
                                console.dir(result);
                                if (self.searchText.length == 0) {
                                    self.searchResults = [];
                                }
                            }
                        });
                    };
                },
                getMarkedHTML: function (text, len) {
                    if (text == null) { return; }
                    var reg = new RegExp(this.searchText, 'gi');
                    if (len == -1) {
                        return text.replace(reg, function (str) { return '<strong style="color:#4C8BF5;">' + str + '</strong>' });
                    } else {
                        return text.substr(0, len).replace(reg, function (str) { return '<strong style="color:#4C8BF5;">' + str + '</strong>' });
                    }
                },
                toggleResult: function (id) {
                    let self = this;
                    self.selectedItemDetails = null;

                    if (self.selectedItem == id) {
                        self.selectedItem = null;
                    } else {
                        $.ajax({
                            method: "get",
                            url: "home/loadShipment",
                            data: { id: id, mode: self.searchMode },
                            success: function (result) {
                                self.selectedItemDetails = result;
                                self.selectedItem = id;
                            }
                        });
                    }
                },
                sendRequest: function () {
                    alert("Request sent. Thank you!");
                }
            },
            created: function () {
            }
        });
    </script>
}

