
@{
    ViewData["Title"] = "Index";
}

<h3>Admin panel</h3>

<div class="row">
    <div class="col-12">
        <label>Generate companies</label>
        @Html.ActionLink("Generate companies","GenerateCompanies","Admin")
    </div>
</div>

